.btn_design {
    background-image: url("https:www.moooi.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbutton.13ab0204.png&w=256&q=80");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 50%;
    border: none;
}

.menu_btn {
    background-color: transparent;

    width: 95px;
    height: 90px;
    font-size: 17px;
    position: fixed;
    bottom: 10px;
    left: 46%;
    font-weight: 400;


}